/* Define colors */

:root {
    --pdx-green-1: #009944;
    --pdx-green-2: #92d9b2;
    --pdx-green-3: #bcedd2;
    --pdx-yellow-1: #f9c241;
    --pdx-yellow-2: #ffdf95;
    --pdx-red-1: #d94444;
    --pdx-red-2: #df7e7e;
    --pdx-red-3: #f2cbcb;
    --pdx-gray-1: #707070;
    --pdx-gray-2: #8b8b8b;
    --pdx-gray-3: #cbcbcb;
    --pdx-gray-4: #efefef;
    --pdx-black: #292929;
    --pdx-white: #ffffff;


    --color-green: #009944;
    --color-green-2: #92d9bf;
    --color-green-3: #bcedd2;
    --pdx-yellow-1: #f9c241;
    --pdx-yellow-1-2: #ffdf95;
    --color-red: #d94444;
    --color-red-2: #df7e7e;
    --color-red-3: #f2cbcb;
    --color-dark-gray: #707070;
    --color-medium-gray: silver;
    --color-light-gray: #efefef;
    --color-white: #ffffff;
    --color-black: #292929;
}

/* ---------------------------------------
   Buttons
   ---------------------------------------*/
#button {
  display: none;
}

#button + label:before {
  content: "a"; /* Bars */
}

#button:checked + label:before {
  content: "b";
}


.btn-warning {
    background-color: var(--pdx-yellow-1);
}

.btn-warning > div {
    color: var(--color-white);
}

.btn-success {
    background-color: var(--pdx-green-1);
}

.btn-alert {
    background-color: var(--pdx-red-1);
}

.btn-back {
    background-color: var(--pdx-white);
    color: var(--pdx-black);
}

.btn-back:hover {
    background-color: var(--pdx-gray-4);
    color: var(--color-black);
}

.btn-removed {
    background-color: var(--pdx-white);
    color: var(--color-red);
}

.btn-removed:hover {
    background-color: var(--pdx-gray-4);
    color: var(--color-red);
}

.btn-idle {
    background-color: var(--pdx-gray-4);
}

.btn-idle:hover {
    background-color: var(--color-medium-gray);
}


/* ---------------------------------------
   Checkboxes
   ---------------------------------------*/
label:has(input[type="checkbox"]:checked) i {
    color:var(--pdx-green-1);
}

input[type="checkbox"] {
  /*position: fixed;
  opacity: 0;
  pointer-events: none;*/
}

/* ---------------------------------------
   Radio buttons
   ---------------------------------------*/
/* Radio element */
input[type="radio"] { /* remove checkbox */
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

/*
input[type="radio"]:checked {
  box-shadow: 0 0 0 3px orange;
  color: green;
  background-color: green;
}

input[type="radio"]:disabled {
  box-shadow: 0 0 0 3px orange;
  color: yellow!important;
  background-color: yellow!important;
}*/

/*
*:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
}*/

label:has(input[type="radio"]) {
    width: 180px;
}

label:has(input[type="radio"]:checked) {
    background: var(--pdx-green-1);
    color: var(--pdx-white);
}

/*
label:has(input[type="radio"]:disabled) {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}*/

label:has(input[type="radio"][disabled]) {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

/*
input[type="radio"][disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none
}*/


.logo {
    top: 50px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.bi {
   color: var(--pdx-gray-2);
}


.pdx-tools {
    font-weight: 500;
    line-height: 1.2;
    display: inline-block;
}
.pdx-icon {
    color: var(--pdx-gray-2);
    color-background: var(--pdx-gray-2);
    width: 32px;
    height: 32px;
}

.bi-volume-up-fill {
    color: var(--pdx-gray-1);
}

.bi-gear-fill {
    /*background-image: url(/images/gear.svg);*/
}


/*
.bi-volume-off-fill {
    color: var(--pdx-gray-2);
    padding-right: 9px;
}*/


.form-switch {
    transform: scale(1);
    margin-right: 10px;
    padding-top: 10px;
}

.form-check-input:checked {
    background-color: var(--pdx-green-1);
    border-color: var(--pdx-green-1);
}

.pdx-title {
    color: var(--color-green);
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0px;
    /*text-align: left;*/
    opacity: 1;
    /*font: normal normal bold 30px/41px Roboto;*/
}

.pdx-timer-id {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0px;
    /*text-align: left;*/
    opacity: 1;
    padding-right: 1rem!important;
    padding-left: 0.25rem!important;
}

.pdx-timer-label {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 1;
    padding-left: 0.5rem!important;
}

.pdx-timer-clock {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0px;
    text-align: right;
    opacity: 1;
    padding-right: 0.8rem!important;
}

.pdx-timer-message {
    text-align: left;
    padding-left: .25rem!important;
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
}

/* ----------------------------------------
   Fonts
   ----------------------------------------
 */
/** ***************
/**
 <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 700
 */

.roboto-mono-100 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}